@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Roboto:wght@700&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: roboto;
    background-color: #1C99E0
    
}
.inputOperacao{
    display: none;
}
.inputOperacaoJs{
    display: block;;
}

.inputOperacaoJs input{
    border: 0;
    border-bottom: 3px solid #247BA0;
    background-color: transparent;
    outline: 0;
    margin-bottom: 20px;
    width: 12vw;
    color: #fff
}
.inputOperacaoJs input::placeholder{
    color: #FFF;
   font-size: 0.9rem
}
.operacao h1{
    padding-top: 20px;
    background-color: #fff;
    padding: 10px;
    clip-path: polygon(2% 2%, 98% 4%, 96% 97%, 0 100%);
    color: #1C99E0;
    text-align: center;
    margin-bottom: 4rem
}

.operacao button{
    border: 0;
    background-color: #fff;
    width: 12rem;
    font-size: 16px;
    padding: 5px 0;
    border-radius: 20px;
    margin-top: 50px;
    color: #1C99E0;
}
.operaçoes{
    display: grid;
    grid-template-columns: repeat(2 , auto);
    gap : 20px
}
.operaçoes button{
    background-color: #247BA0;
    border: 0;
    border-radius: 5px;
    color: #fff;
    padding: 5px 5px
}
.operaçoes button:hover{
    transform: scale(1.1);
}
.operacao h3{
    color: #fff;
    font-size: 20px
}
p{
    color: #fff
}
